*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(../image/pokemon.jpg);
    background-size: cover;
    background-position-y: -20%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(23, 143, 255)

}
h1{
    text-transform: uppercase;
    padding: 20px 0px 20px 0px;
    text-align: center;
}
button{
    margin-bottom: 20px;
    font-size: 30px;
    padding: 15px 45px 15px 45px;
    background-color: rgb(255, 208, 0);
    color: white;
    border: 2px solid rgb(23, 143, 255);
    border-radius: 2px;
}
button:hover{
    background-color: rgb(255, 251, 0);


}