*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 560px;
    background-image: url(../image/pokemon.png);
    background-position: 50% -300%;
    background-repeat: no-repeat;
    color: rgb(23, 143, 255)

}


img {
    display: none;
}
input{
    width: 15%;
    margin: 20px 0px 20px 0px;
    background-color: rgb(245, 245, 245);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(23, 143, 255);
    text-align: center;
    color: rgb(23, 143, 255);
}
h2{
    text-transform: uppercase;
    padding: 20px 0px 20px 0px;


}
button{
    margin-bottom: 20px;

    padding: 5px 15px 5px 15px;
    background-color: rgb(255, 208, 0);
    color: white;
    border: 2px solid rgb(23, 143, 255);
    border-radius: 2px;
    transition-duration: 1s;

}
button:hover{
    background-color: rgb(255, 251, 0);


}
.API{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#describe_Pokemon{
    width: 25%;
}
.prg_Pokemon{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.prg_Pokemon:first-child{
    padding-right: 10%;
}

#my_Pokemon{
    height: 37.6px;
    padding-bottom: 20px;
    color: rgba(255, 69, 23, 0.63);
}
#describe_Pokemon{
    margin: 0% 40% 0% 0%;
}

#img_Pokemon{
    height: 96px;
}
